body{
	box-sizing: border-box;
	padding: 0;
	margin:0;
	font-family: 'Raleway', sans-serif;
	
}

.main-container{
  display:grid;
  grid-template:repeat(2,2rem)/repeat(4,1fr);
  
  grid-template: repeat(auto-fit, minmax(1em, 1fr));
  grid-template-areas:
    "a h h h"
    "a s s s"
    
}



.header{
	
	grid-area: h;
	
   
}
.aside{
	margin:0px;
	padding: 0;
	background-color: blue;
	grid-area: a;
	max-width: 300px;

	 

	
	
}

.section{
	grid-area: s;
	margin-top: 200px;
	margin-left: 2px;
	
	
}
.aside__photo{
	padding:50px 50px 50px 50px;
    margin:0;
    background-color:#05A081;
    margin: 0 auto;

}
img{
	 
    max-width: 180px; 
    max-height: 180px;
    padding:10px;
    margin: 0 auto;
    border-radius:100rem;
    border-radius-color:black;
    border-radius-size:3px;
   
}
.aside__contact-header{
	text-align: center;
	color:#05A081;
	background-color: #232A34;;
	margin-top:0px;
	padding: 1px;
	text-transform: uppercase;
	font-size:0.6em;
}
.aside__contact-section{
	padding: 5px 45px;
	background-color: #05A081;
}
.aside__about-header{
	text-align: center;
	color:#05A081;
	background-color: #232A34;;
	margin-top:0px;
	padding: 1px;
	text-transform: uppercase;
	font-size:0.6em;
}
.aside__about-section{
	padding: 10px  20px 550px 20px;
	background-color: #05A081;
	line-height: 1.6;
}
.aside__hobbies{
	text-align: center;
	color:#05A081;
	background-color: #232A34;;
	margin-top:0px;
	padding: 1px;
	text-transform: uppercase;
	font-size:0.6em;
}
.aside__hobbie-icon{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
	background-color:#05A081;
}
.fas{
	padding: 10px;
  fa-1x;
  
}

.header{
  padding-top: 1.8em;
	padding-left: 4em;
	margin-top: 2em;
	margin-left: 3em;
	max-width: 500px;
 
	

}

.header__name{
	text-transform: uppercase;
	font-size:1.7em;
	margin-bottom: 1px;
  min-width:300px;
}

.style-name{
	color: #05A081;
	font-weight: 300;
	font-style: italic;
}

.header__job{
	text-transform: capitalize;
	margin-top: -1em;
	font-size: 1.9em;
}

.section-container{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 40px;
	margin:1px 15px 4px 50px;
	
	
}


.title{
	margin-top: 50px;
	max-width: 500px;
	text-align:left;
	font-size:1.5em;
	border-bottom:2px solid #05A081;
	padding-bottom: 0.2em;
	margin:80px 60px 40px 100px;
}

.date{
	
	font-size: 0.9em;
    margin-right:3em;
    padding: 3px;
    width: 100px;
   

	


}

li{
	margin-left: 5px;
}

.second-title{
	font-size:1em;
	font-weight: bold;
	margin-bottom:2px;
	


}
.subtitle{
	font-size:0.9em;
	font-weight: italic;
	margin: 1px;
	color:#05A081;
}

.description{
	font-size:0.9em;
	margin-right: 5px;
	min-width: 300px;
	max-width: 500px;
}

@media only screen and (min-width: 480px) and (max-width: 768px){

  .aside{
	margin:0px;
	padding: 0;
	background-color: blue;
	grid-area: a;
	max-width: 300px;
  min-width:190px;
}

.aside__photo{
	padding:50px 50px 50px 20px;
    margin:0;
    background-color:#05A081;
    margin: 0 auto;

}
img{
	 
    max-width: 120px; 
    max-height: 120px;
    padding:10px;
    margin: 0 auto;
    border-radius:100rem;
    border-radius-color:black;
    border-radius-size:3px;
   
}
.aside__contact-section{
	padding: 8px 8px;
  width:10;
	background-color: #05A081;
  font-size:0.9em;
  }
.aside__about-section{
	padding: 10px  20px 250px 20px;
	background-color: #05A081;
	line-height: 1.6;
  font-size:0.9em;
}
.aside__about-section{
	padding: 10px  20px 500px 20px;
	background-color: #05A081;
	line-height: 1.6;
}  
  .header{
  padding-top: 1em;
	padding-left: 1em;
	margin-top: 2em;
	margin-left: 3em;
	max-width: 200px;
  }
  .header__name{
	text-transform: uppercase;
	font-size:0.8em;
	margin-bottom: 1px;
  marging-right:110px;  
  min-width:200px;
}
  
  
  .section{
	grid-area: s;
	margin-top: 200px;
	margin-left: 22px;
      
	}
  
  .header__job{
	text-transform: capitalize;
	margin-top: -1em;
	font-size: 1.2em;
}
  .section-container{
	display: flex;
	flex-direction:column;
  margin-bottom: 40px;
	margin:1px 1px 4px 50px;
	
	
}
  
  
  .title{
	padding:5px;
	border-bottom: 3px solid  #05A081;
  margin: 50px 50px 2px 50px;
  text-align:center;
	font-size:1.1em;
  width:100px  
}
  
  .date{
	width:150px;
	font-size: 0.8em;
	}
  
   .second-title{
    font-size:0.9em;
    margin-right:50px; 
    min-width:10px  
  }
  .description{
	font-size:0.8em;
	margin-right: 55px;
	min-width: 120px;
	max-width: 500px;
}
li{
	margin-left: 10px;
}
}
@media only screen and (min-width: 320px) and (max-width: 479px){
  .aside{
	margin:0px;
	padding: 0;
	background-color: blue;
	grid-area: a;
	max-width: 300px;
  min-width:120px;
}

.aside__photo{
	padding:50px 50px 50px 10px;
    margin:0;
    background-color:#05A081;
    margin: 0 auto;

}
img{
	 
    max-width: 70px; 
    max-height: 70px;
    padding:10px;
    margin: 0 auto;
    border-radius:100rem;
    border-radius-color:black;
    border-radius-size:3px;
   
}
.aside__contact-section{
	padding: 8px 8px;
  width:10;
	background-color: #05A081;
  font-size:0.5em;
  }

.aside__about-section{
	padding: 50px  30px 100px 20px;
	background-color: #05A081;
	line-height: 1.6;
	font-size:0.5em;
}  
  .header{
  padding-top: 1em;
	padding-left: 0.1em;
	margin-top: 2em;
	margin-left: 3em;
	max-width: 200px;
  }
  .header__name{
	text-transform: uppercase;
	font-size:0.5em;
	margin-bottom: 1px;
 
  min-width:200px;
}
  
  
  .section{
	grid-area: s;
	margin-top: 100px;
	margin-left: 0px;
      
	}
  
  .header__job{
	text-transform: capitalize;
	margin-top: -1em;
	font-size: 0.7em;
}
  .section-container{
	display: flex;
	flex-direction:column;
  margin-bottom: 20px;
	margin:1px 1px 4px 30px;
	
	
}
  
  
  .title{
	padding:5px;
	border-bottom: 3px solid  #05A081;
  margin: 50px 10px 2px 50px;
  text-align:center;
	font-size:1em;
  width:100px  
}
  
  .date{
	width:150px;
	font-size: 0.8em;
	}
  
   .second-title{
    font-size:0.6em;
   
    min-width:10px  
  }
  .description{
	font-size:0.6em;
	
	min-width: 120px;
 
}
li{
	margin-left: 1px;
}
  .subtitle{
	font-size:0.7em;
	font-weight: italic;
	margin: 1px;
	color:#05A081;
}
  
  
  
  
}


  