*{
	scroll-behavior: smooth;
}

body{
	box-sizing: border-box;
	padding: 0;
	margin:0;
	font-family: 'Raleway', sans-serif;
	
   
	
	

	
}

#main-container{
	background-image: url(../img/black.jpeg);
	filter: brightness(80%); -webkit-filter: brightness(80%);
    width: 100%;
	height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 70px;
    box-sizing: border-box;
    margin:0; 
    padding:0;
    
    
}
	
.menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	list-style-type: none;
	width: 100%;
	height: 76px;
	
	
	color: #FFFFFF;
	background-color: #232A34;
	margin:0; 
    padding:0;

}
#addedmarginright{
	margin-right:50px;
	background-color: 
}
a{
	text-decoration: none;
	text-transform: lowercase;
}

a:hover{
	color:#05A081;

}
.color{
	color: #FFFFFF;
}



li{
	margin: 20px;
}
.head-container{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	
    justify-content: flex-start;
	font-size: 2.5em;
	margin-left: 20px;
}
h1{
	background-color: #05A081;
	padding: 10px;
	border-radius: 5%;
	margin-top: 1px;
	
	
	
	
}

h2{
	background-color: #232A34;
	color: #C8C8C9;
	margin-bottom: 1px;
	padding: 10px;
	border-radius: 5%;
	
	
}
.section{
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	margin: 0 auto;
	max-width: 600px;
}

.section-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 40px;
	margin:2px 50px;
	
	

	

}


.title{
	padding:5px;
	border-bottom: 3px solid  #05A081;
	margin: 0 auto;
	margin-top: 50px;
	max-width: 400px;
	
	text-align:left;
	
	font-size:1.6em;
}

.date{
	
	font-size: 1.1em;
	


}

.second-title{
	font-size:1.1em;
	font-weight: bold;
	margin-bottom:3px;


}
.subtitle{
	font-size:0.9em;
	font-weight: italic;
	margin: 1px;
	color:#05A081;
}

.description{
	font-size:0.9em;
	width: 400px;
	
	
}

.nameform{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 40px;
	width: 500px;


}

.changecolor{
	color:#232A34;
}
.footer{
	
	background-color: #05A081;
	width: 100%;
	margin:0; 
    padding:0;
}

#copyright{
	
	padding-top: 40px;
	padding-bottom: 5px;
	text-align:center;
}

@media only screen and (min-width: 480px) and (max-width: 768px){

.menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	width: 100%;
	height: 76px;
	padding:0;
	margin: 0; 
	color: #FFFFFF;
	background-color: #232A34;
}

.color{
	font-size:1.2em;
}
.head-container{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 1.7em;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 60px;
}	
  
  .title{
	padding:5px;
	border-bottom: 3px solid  #05A081;
    margin: 50px 50px 2px 50px;
    text-align:left;
	font-size:1.3em;
}

 .section{
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	margin:2px 50px;
  }
  .date{
	width:110px;
	font-size: 0.9em;
	}
  .section-container{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
    margin:2px 50px;
	margin-bottom: 40px;
    
    
  }
  li{
    margin:2px;
    padding:3px
  }
  #addedmarginright{
    margin-right:0px;
  }
  
  .second-title{
    font-size:0.9em
  }
  .description{
	font-size:0.9em;
	width: 200px;
}
}
@media only screen and (min-width: 320px) and (max-width: 479px){
  
.menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	width: 100%;
	height: 56px;
	padding:0;
	margin: 0; 
	color: #FFFFFF;
	background-color: #232A34;
  }
  .color{
	font-size:0.7em;
  }  
  .head-container{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-size: 1em;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 100px;
}	
#addedmarginright{
    margin-right:12px;
  }  
  
 .title{
	padding:5px;
	border-bottom: 3px solid  #05A081;
    margin: 50px 50px 2px 50px;
    text-align:left;
	font-size:1.3em;
} 
.section{
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	margin:2px 20px;
  }  
  
  .date{
	width:100px;
	font-size: 0.9em;
	}
  .section-container{
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
    margin:2px 7px;
	
  }
  li{
    margin:2px;
    padding:2px;
  }
  .second-title{
    font-size:0.8em;
  }
  .description{
	font-size:0.9em;
	width: 200px;
}
}