* {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif, serif;
  background: #F6F6F6;
}

.btn {
  background: #05A081;
  cursor: pointer;
  border-radius: 12px;
  padding: 0.5em;
  outline: none;
  font-size: 1em;
  color: #232A34;
  margin-top: 10px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .btn {
    font-size: 0.8em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .btn {
    font-size: 0.6em;
  }
}
.btn__project {
  margin-top: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  width: 100%;
  height: 86px;
  color: #FFFFFF;
  font-size: 1.1em;
  background-color: #232A34;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6em;
  }
}
.nav__fixed {
  position: fixed;
  z-index: 1;
}
.nav__right {
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .nav__right {
    margin: 0%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nav__right {
    margin: 0%;
  }
}
.nav__logo {
  font-family: "Mrs Sheppards", cursive;
  font-size: 2.8em;
  color: #232A34;
  margin-left: 20px;
  text-decoration: none;
  background: #F6F6F6;
  border-radius: 30%;
  padding: 0.1em;
  padding-left: 0.3em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .nav__logo {
    font-size: 2.5em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nav__logo {
    font-size: 2em;
    margin-left: 10px;
  }
}
.nav__link {
  color: #FFFFFF;
  margin: 20px;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: 300;
}
.nav__link--contact {
  margin-right: 50px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .nav__link {
    margin-right: 10px;
  }
}
.nav__link:hover {
  color: #05A081;
}

.main-container {
  background-image: url(../img/black.jpeg);
  filter: brightness(90%);
  -webkit-filter: brightness(90%);
  width: 100%;
  height: 800px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 70px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .main-container {
    height: 600px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .main-container {
    height: 500px;
  }
}

.text-focus-delay-two {
  animation: text-focus-delay-two 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.2s backwards;
}

@keyframes text-focus-delay-two {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in-delay {
  animation: fade-in-delay 2s cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s both;
}

@keyframes fade-in-delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scale-in-hor-left {
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}
.scale-in-hor-right {
  animation: scale-in-hor-right 0.9s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-in-hor-right {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
.scale-in-hor-right-delay {
  animation: scale-in-hor-right-delay 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

@keyframes scale-in-hor-right-delay {
  0% {
    transform: scaleX(0);
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
.scale-in-hor-center {
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

@keyframes scale-in-hor-center {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}
.scale-in-hor-left-delay {
  animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s both;
}

@keyframes scale-in-hor-left-delay {
  0% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.3em;
  margin-top: 50px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    font-size: 1.1em;
  }
}
.header__first {
  background-color: #232A34;
  color: #FFFFFF;
  margin-bottom: 3px;
  padding: 10px;
  border-radius: 5%;
  font-size: 1.5em;
}
.header__second {
  background-color: #05A081;
  padding: 10px;
  border-radius: 5%;
  margin-top: 3px;
  margin-bottom: 3px;
  color: #232A34;
  font-size: 2em;
}
.header__flex {
  display: flex;
}
.header__third {
  background: #232A34;
  color: #FFFFFF;
  padding: 10px;
  font-size: 0.7em;
  margin-top: 3px;
  margin-right: 3px;
  font-weight: 200;
  border-radius: 5%;
  margin-bottom: 1px;
}
.header__third--color {
  color: #232A34;
  background: #F6F6F6;
  padding: 10px;
  font-size: 0.7em;
  margin-top: 3px;
  font-weight: 200;
  border-radius: 5%;
  margin-bottom: 1px;
  margin-left: 2px;
  font-weight: 700;
}
.header__fourth {
  background: #232A34;
  margin-top: 3px;
  font-size: 0.6em;
  border-radius: 5%;
  padding: 10px;
  color: #FFFFFF;
  margin-bottom: 3px;
  font-weight: 200;
}
.header__five {
  margin-top: 3px;
  color: #232A34;
  background: #05A081;
  padding: 10px;
  border-radius: 5%;
  font-size: 0.7em;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #232A34;
  color: #FFFFFF;
  margin-top: 5em;
  border-top: 2px solid #232A34;
}
.footer__header {
  margin-top: 1em;
  margin-bottom: 0.2em;
  font-size: 1.5em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .footer__header {
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .footer__header {
    font-size: 1.1em;
  }
}
.footer__link {
  color: #F6F6F6;
  text-decoration: none;
}

.fab {
  font-size: 2em;
  padding: 0.3em;
  margin-bottom: 0.4em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .fab {
    font-size: 1.9em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .fab {
    font-size: 1.3em;
  }
}

.fa-linkedin {
  color: rgba(255, 255, 255, 0.979);
}
.fa-linkedin--color {
  color: #036097;
}

.container-form {
  width: 30%;
  margin-top: 1em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .container-form {
    width: 90%;
    margin: 2em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .container-form {
    width: 80%;
    margin: 4em;
  }
}

.form {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .form {
    width: 80%;
  }
}
.form__layout {
  display: flex;
  justify-content: space-between;
}
.form__field label {
  display: block;
  font-size: 1em;
  font-weight: bold;
  color: #232A34;
  width: 100%;
  line-height: 2rem;
  padding-bottom: 0.5rem;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .form__field label {
    font-size: 0.8em;
  }
}
.form__field input {
  width: 100%;
  outline: none;
  padding: 0.5em;
  border: 1px solid #232A34;
  font-size: 1em;
  color: #232A34;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .form__field input {
    font-size: 0.8em;
    width: 80%;
  }
}
.form__field textarea {
  width: 100%;
  outline: none;
  padding: 0.5em;
  border: 1px solid #232A34;
  font-size: 1rem;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .form__field textarea {
    font-size: 0.8em;
    width: 90%;
    margin: 0 auto;
  }
}

.container-portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-title {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 0.7em;
  font-size: 1.3em;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio-title {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio-title {
    font-size: 0.7em;
  }
}
.portfolio-title__header {
  background: #05A081;
  color: #232A34;
  padding: 0.5em;
  margin-bottom: 0.6em;
  display: inline-flex;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio-title__header {
    margin-bottom: 0.7em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio-title__header {
    margin-bottom: 0.9em;
  }
}
.portfolio-title__sub-header {
  background: #232A34;
  color: #FFFFFF;
  margin-top: -10px;
  margin-left: 1em;
  padding: 0.5em;
  font-weight: 300;
}

.portfolio-prev {
  width: 20em;
  display: flex;
  flex-wrap: wrap;
  margin-right: 3em;
  margin-left: 3em;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio-prev {
    width: 15em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio-prev {
    width: 9em;
    margin-bottom: 0.2em;
  }
}
.portfolio-prev__img {
  width: 100%;
  align-self: center;
  border: 2px solid #232A34;
}
.portfolio-prev__header {
  margin-top: -5em;
  margin-left: -1.5em;
  font-size: 1.1em;
  background-color: #05A081;
  padding: 0.3em;
  font-weight: 500;
  border-radius: 10px;
  color: #232A34;
}
.portfolio-prev__header:hover {
  border-radius: 15px;
  background-color: #03be99;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio-prev__header {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio-prev__header {
    font-size: 0.6em;
  }
}
.portfolio-prev__link {
  text-decoration: none;
  color: #232A34;
}
.portfolio-prev__byline {
  margin-top: -3em;
  margin-left: -1.2em;
  background-color: #232A34;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 0.9em;
  padding: 0.4em;
  border-radius: 6px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .portfolio-prev__byline {
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .portfolio-prev__byline {
    font-size: 0.4em;
    margin-top: -4em;
  }
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 90em;
  margin: 0 auto;
}

.project-title {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 0.7em;
  font-size: 1.3em;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .project-title {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .project-title {
    font-size: 0.7em;
  }
}
.project-title__header {
  background: #05A081;
  color: #232A34;
  padding: 0.5em;
  margin-bottom: 0.6em;
  display: inline-flex;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .project-title__header {
    margin-bottom: 0.7em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .project-title__header {
    margin-bottom: 0.9em;
  }
}
.project-title__sub-header {
  background: #232A34;
  color: #FFFFFF;
  margin-top: -10px;
  margin-left: 1em;
  padding: 0.5em;
  font-weight: 300;
}

.project {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.project__contact {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .project__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .project__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
}
.project__description {
  width: 45%;
  margin-right: 0.7em;
  font-size: 1.1em;
  line-height: 1.6;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .project__description {
    font-size: 1em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .project__description {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .project__description--contact-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    font-size: 1em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .project__description--contact-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .project__description--contact-layout p {
    margin-left: 1.5em;
    margin-right: 3em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .project__description--contact-layout p {
    margin-left: 1.5em;
    margin-right: 3em;
  }
}
.project__img {
  width: 35%;
  margin-top: 0.7em;
  margin-right: 0.5em;
  padding: 0.5em;
}
.project__img--about-section {
  width: 25%;
}
.project__img--contact {
  width: 50%;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .project__img--contact {
    width: 190px;
    height: 150px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .project__img--contact {
    width: 140px;
    height: 100px;
    margin-right: 1em;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 90em;
  margin: 0 auto;
}

.about-title {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 0.7em;
  font-size: 1.3em;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .about-title {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .about-title {
    font-size: 0.7em;
  }
}
.about-title__header {
  background: #05A081;
  color: #232A34;
  padding: 0.5em;
  margin-bottom: 0.6em;
  display: inline-flex;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .about-title__header {
    margin-bottom: 0.7em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .about-title__header {
    margin-bottom: 0.9em;
  }
}
.about-title__sub-header {
  background: #232A34;
  color: #FFFFFF;
  margin-top: -10px;
  margin-left: 1em;
  padding: 0.5em;
  font-weight: 300;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.about__description {
  width: 45%;
  margin-right: 0.7em;
  font-size: 1.1em;
  line-height: 1.6;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .about__description {
    font-size: 1em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .about__description {
    font-size: 0.6em;
  }
}
.about__img {
  width: 25%;
  margin-top: 0.7em;
  margin-right: 0.5em;
  padding: 0.5em;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 90em;
  margin: 0 auto;
}

.contact-title {
  display: flex;
  flex-direction: column;
  margin-left: 3em;
  margin-top: 0.7em;
  font-size: 1.3em;
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact-title {
    font-size: 0.9em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact-title {
    font-size: 0.7em;
  }
}
.contact-title__header {
  background: #05A081;
  color: #232A34;
  padding: 0.5em;
  margin-bottom: 0.6em;
  display: inline-flex;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact-title__header {
    margin-bottom: 0.7em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact-title__header {
    margin-bottom: 0.9em;
  }
}
.contact-title__sub-header {
  background: #232A34;
  color: #FFFFFF;
  margin-top: -10px;
  margin-left: 1em;
  padding: 0.5em;
  font-weight: 300;
}

.contact-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.contact-section__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
}
.contact-section__description {
  width: 45%;
  margin-right: 0.7em;
  font-size: 1.1em;
  line-height: 1.6;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact-section__description {
    font-size: 1em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact-section__description {
    font-size: 0.6em;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact-section__description--layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    font-size: 1em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact-section__description--layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact-section__description--layout p {
    margin-left: 1.5em;
    margin-right: 3em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact-section__description--layout p {
    margin-left: 1.5em;
    margin-right: 3em;
  }
}
.contact-section__img {
  width: 50%;
  margin-top: 0.7em;
  margin-right: 0.5em;
  padding: 0.5em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .contact-section__img {
    width: 190px;
    height: 150px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .contact-section__img {
    width: 140px;
    height: 100px;
    margin-right: 1em;
  }
}

.resume-container {
  display: flex;
  justify-content: space-between;
}

.resume-aside {
  background-color: #05A081;
  height: 100%;
  position: fixed;
}
.resume-aside__photo {
  padding: 7em 2em 2em 2em;
  background-color: #05A081;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .resume-aside__photo {
    padding: 7em 1em 1em 1em;
  }
}
.resume-aside__img {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 100rem;
  border-inline-end-color: black;
  border-image-slice: 3px;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .resume-aside__img {
    max-width: 100px;
    max-height: 100px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .resume-aside__img {
    max-width: 70px;
    max-height: 70px;
  }
}
.resume-aside__header {
  text-align: center;
  color: #05A081;
  background-color: #232A34;
  margin-top: 0px;
  padding: 1px;
  text-transform: uppercase;
  font-size: 0.6em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .resume-aside__header {
    font-size: 0.6em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .resume-aside__header {
    font-size: 0.4em;
  }
}
.resume-aside__contact-section {
  padding: 1em;
  background-color: #05A081;
  font-size: 1em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .resume-aside__contact-section {
    font-size: 0.7em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .resume-aside__contact-section {
    font-size: 0.4em;
  }
}
.resume-aside__social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1em;
}

.section-resume-container {
  margin: 6em auto 0 25em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .section-resume-container {
    margin: 6em auto 0 13em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .section-resume-container {
    margin: 6em auto 0 8em;
  }
}

.header-resume {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header-resume {
    font-size: 1.3em;
    margin-right: 1.2em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header-resume {
    font-size: 1em;
  }
}

.header-resume__first h2 {
  background: #05A081;
  color: #232A34;
  padding: 0.1em;
  margin-bottom: 0;
}

.header-resume__second h3 {
  background: #232A34;
  color: #F6F6F6;
  padding: 0.1em;
  margin-top: 0.1em;
}

.section-resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 5em;
}
.section-resume__title h3 {
  background: #05A081;
  padding: 0.5em;
  color: #232A34;
  margin-top: 3em;
  font-size: 1.5em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .section-resume__title h3 {
    font-size: 1em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .section-resume__title h3 {
    font-size: 0.7em;
  }
}

.resume {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: stretch;
  margin-bottom: 40px;
  font-size: 1.2em;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .resume {
    font-size: 1em;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .resume {
    font-size: 0.6em;
  }
}

.resume-date {
  margin-right: 1.4em;
}

.resume-detail__title {
  font-weight: bold;
  margin-bottom: 2px;
}

.resume-detail__subtitle {
  font-weight: italic;
  margin: 1px;
  color: #05A081;
}

.resume-detail__description {
  font-size: 0.8em;
  margin-right: 5em;
}

/*# sourceMappingURL=style.css.map */
