.fab {
    font-size: 2em;
    padding: .3em;
    margin-bottom: .4em;
    @media screen and (min-width: 480px) and (max-width: 768px){
      font-size:1.9em;
    }
    @media only screen and (min-width: 320px) and (max-width: 479px){
      font-size:1.3em;
    }
    
}
.fa-linkedin{
    color: rgba(255, 255, 255, 0.979);
    &--color{
      color: #036097;
    }
}